<launch>

        <arg name="hwil" default="true"/>
        <arg name='readonly' default='true'/>

        <param name="/hwil" value="$(arg hwil)"/>

        <param name="/readonly" value="$(arg readonly)"/>


<node pkg="can_to_ros" type ="subs_fs" name="subs_fs" output="screen" if="$(arg hwil)"/>

<node pkg="can_to_ros" type="lead_info" name="lead_info" output="screen" if="$(arg hwil)"/>

<node pkg="can_to_ros" type="simple_mini_car_from_lead_distance" name="simple_mini_car_from_lead_distance" output="screen" if="$(arg hwil)"/>

<node pkg="can_to_ros" type="cut_in_disengager" name="cut_in_disengager" output="screen" required="true"/>
<node pkg="can_to_ros" type="cruise_start_safety_check" name="cruise_start_safety_check" output="screen" required="true" />

<node pkg="can_to_ros" type="cbf_smoother" name="cbf_smoother" output="screen" required="true" />

<node pkg="setpointreader" type="setpointreader_node" name="setpointreader_node" output="screen" required="true" />

<!-- <node pkg="velocity_controller" type="velocity_controller_node" name="velocity_controller_node" output="screen" required="true" /> -->
        <node pkg="velocity_controller" type="velocity_controller_node" name="velocity_controller_node" output="screen" if="$(eval not readonly and hwil)">
                <remap from="/vehicle/vel" to="/vel"/>
        </node>



</launch>
