<launch>

<arg name="bagfile" default="ghost_car2.bag"/>

<node pkg="rosbag" type="play" name="player" args="$(find ghost_mode)/$(arg bagfile) --topics /ghost/vehicle/vel" />

<node pkg="can_to_ros" type ="subs" name="subs" output="screen" /> 

<node pkg="ghost_mode" type="ghost_mode_node" name="ghost_mode_node" output="screen"/>


</launch>