<launch>

<arg name="bagfile" default="ghost_car2.bag"/>

<arg name="description" default="_ghost_mode_velocityfollowing"/>

<node pkg="rosbag" type="play" name="player" args="$(find can_to_ros)/bagfiles/$(arg bagfile) --topics /ghost/vehicle/vel" />

<node pkg="ghost_mode" type="ghost_mode_node" name="ghost_mode_node" output="screen"/>

<node pkg="can_to_ros" type ="rosbag_record_gm.sh" name="bashscript3" output="screen" args="$(arg description)" /> 


</launch>