


<launch>
<!-- include information for the joystick, etc. -->
<node respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen" >
        <param name="dev" type="string" value="/dev/input/js2" />

</node>


<node pkg="can_to_ros" type="joyNode" name="joyNode" output="screen"/>

</launch>
