<launch>

<arg name="speed" default="0.0"/>

<node pkg="can_to_ros" type="selector.py" name="selector" args="$(arg speed)" output="screen" />

<node pkg="pid_cc" type="pid_cc_node" name="pid_cc_node" output="screen"/>

<node pkg= "rosbag" name="record" type="record"  output="screen" args="-a" />

</launch>