<launch>

<arg name="speed" default="0.0"/>

<node pkg="can_to_ros" type ="subs" name="subs" output="screen" /> 

<node pkg="can_to_ros" type="selector.py" name="selector" args="$(arg speed)" output="screen" />

<node pkg="pid_cc" type="pid_cc_node" name="pid_cc_node" output="screen"/>

<node pkg="can_to_ros" type ="rosbag_record.sh" name="bashscript2" output="screen" /> 


</launch>