<launch>

<!-- <arg name="can_path" default=""/> -->
<arg name="publish_csv_args" default=""/>
<arg name="bag_name" />


<node pkg="can_to_ros" type="publish_csv" name="publish_csv" output = "screen" args="$(arg publish_csv_args)"/>

<node pkg="can_to_ros" type ="subs" name="subs" output="screen" />

<node pkg= "rosbag" name="record" type="record"  args="-a -x '/car/can/raw' -O $(env HOME)/$(arg bag_name)" />


</launch>
