<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="description" default="rl_cruise_planner"/>
	
	<arg name="hwil" default="true"/>
	<arg name="SPACEGAP_SCALE" default="100.0"/>
	<arg name="SPEED_SCALE" default="40.0"/>
	<!-- for planner, set these two to positive values -->
	<arg name="SP_TARGET_SPEED" default="70"/>
	<arg name="SP_MAX_HEADWAY" default="1"/>
	<arg name='readonly' default='true'/>

	<param name="description" value="$(arg description)"/>
		
	<param name="/SPACEGAP_SCALE" value="$(arg SPACEGAP_SCALE)"/>
	<param name="/SPEED_SCALE" value="$(arg SPEED_SCALE)"/>
	<param name="/SP_TARGET_SPEED" value="$(arg SP_TARGET_SPEED)"/>
	<param name="/SP_MAX_HEADWAY" value="$(arg SP_MAX_HEADWAY)"/>
	
	<param name="/readonly" value="$(arg readonly)"/>
	<param name="/hwil" value="$(arg hwil)"/>
<!--
	<node pkg="can_to_ros" type ="subs_fs" name="subs_fs" output="screen" if="$(arg hwil)"/> 
	<node pkg="can_to_ros" type="lead_info" name="lead_info" output="screen" if="$(arg hwil)"/>
	<node pkg="can_to_ros" type="simple_mini_car_from_lead_distance" name="simple_mini_car_from_lead_distance" output="screen" if="$(arg hwil)"/>
-->
        <include file="$(find can_to_ros)/launch/vanilla_interface.launch">
		<param name="description" value="$(arg description)"/>
	</include>

<!--
	<node pkg="can_to_ros" type="vehicle_interface_nissan" name="vehicle_interface_nissan" output="screen" />
	<node pkg="can_to_ros" type="subs_fs_test" name="subs_fs_test" output="screen" />
	<node pkg="can_to_ros" type ="rosbag_record.sh" name="bashscript2" output="screen" args="$(arg description) $(arg hwil)" /> 
-->

	<param name="model" type="string" value="$(find onnx2ros)/../controllers/rl-blind-cruise-planner.onnx"/>
	<param name="mode" type="string" value="prompt"/>
	<node pkg="onnx2ros" type="prompt_mode" name="controller" output="screen"/>


</launch>
