<launch>

<arg name="can_path" />
<arg name="gps_path" />
<arg name="bag_name" />

<group ns="catvehicle">
<param name="robot_description"
         command="$(find xacro)/xacro.py '$(find can_to_ros)/urdf/catvehicle.xacro' roboname:='catvehicle'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


<node pkg="can_to_ros" type ="publish_csv" name="publish_csv" args="$(arg can_path)" output="screen"  /> 
<node pkg="can_to_ros" type ="subs" name="subs" /> 



<node pkg="can_to_ros" type ="gpsfix" name="gpsfix" args="$(arg gps_path)"  /> 
<node pkg= "rosbag" name="record" type="record"  args="-a -O /home/safwan/Documents/test_ws/$(arg bag_name)_CAN_GPS" />
<!--<node pkg="can_to_ros" type ="my_frame" name="my_frame" /> -->

</group>


</launch>
