<launch>
<!-- include information for the joystick, etc. args="$(env HOME)"  -->
<node pkg="can_to_ros" type="sendCommands" name="sendCommands" output="screen" />

<node pkg="can_to_ros" type="publishCommands" name="publishCommands" output="screen"/>

<node pkg="can_to_ros" type ="publish_libpanda" name="publish_libpanda" output="screen"  />

<node pkg="can_to_ros" type ="subs" name="subs" output="screen" /> 

</launch>
