<launch>

<!-- include information for the joystick, etc. args="$(env HOME)"  -->
<node pkg="can_to_ros" type="vehicle_interface" name="vehicle_interface" output="screen" respawn="true" respawn_delay="2" />

<!-- The following two packages are very old, and effectively check that nodes exist otherwise constant 0s are published to /car/cruise/accel.  This should NOT happen, and the receiving node vehicle_interface should heartbeat check the topic and produce its own failure.
<node pkg="can_to_ros" type="publishCommands" name="publishCommands" output="screen" required="true" />
<node pkg="can_to_ros" type="node_status.py" name="node_status" output="screen" required="true" />
-->

<node pkg="can_to_ros" type="topic_check.py" name="topic_check" output="screen" />


<include file="$(find can_to_ros)launch/safety_checks.launch" />


<include file="$(find can_to_ros)/launch/cbftest.launch">
	<arg name="hwil" value="true"/>
	<arg name="readonly" value="false"/>
</include>

</launch>
