<launch>

<!-- include information for the joystick, etc. args="$(env HOME)"  -->
<node pkg="can_to_ros" type="vehicle_interface" name="vehicle_interface" output="screen" respawn="true" respawn_delay="2" />

<node pkg="can_to_ros" type="publishCommands" name="publishCommands" output="screen" required="true"/>

<node pkg="can_to_ros" type="node_status.py" name="node_status" output="screen" required="true" />

<include file="$(find transfer_pkg)/launch/rl0719_readonly.launch"/>

</launch>
