<launch>

<!-- include information for the joystick, etc. args="$(env HOME)"  -->
<node pkg="can_to_ros" type="vehicle_interface" name="vehicle_interface" output="screen" respawn="true" respawn_delay="2" />

<node pkg="can_to_ros" type="publishCommands" name="publishCommands" output="screen" required="true" />

<node pkg="can_to_ros" type="node_status.py" name="node_status" output="screen" required="true" />

<node pkg="can_to_ros" type="topic_check.py" name="topic_check" output="screen" />


<include file="$(find can_to_ros)launch/safety_checks.launch" />


<include file="$(find can_to_ros)/launch/cbftest.launch">
	<arg name="hwil" value="true"/>
	<arg name="readonly" value="false"/>
	<arg name="k_timegap" value="0.1"/>
	<arg name="k1" value="0.5"/>
	<arg name="k2" value="0.5"/>
	<arg name="timegap" value="2.5"/>
	<arg name="s_min" value="25.0"/>

</include>

</launch>
